package views

import "github.com/nefarius/cornelian/underlying/app"

templ Questions(questions []app.Question) {
	<div id="questions">
		for _, q := range questions {
			@Card(q)
			<br/>
		}
	</div>
	<button
 				class="btn btn-primary"
                    hx-get={ "/add-question" }
					hx-trigger="click"
					hx-target="body"
	>
	Добавить вопрос
	</button>
}
